
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-bg: #eae7deff;
    --color-bg-variant: conic-gradient(from -89.99deg at 50.03% 100%, #FFCB8D 0deg, rgba(234, 205, 154, 0.402865) 234.38deg, rgba(217, 217, 217, 0) 360deg);
    --color-primary:  #AE6208;
    --color-white: #fff;
    --color-dark: #333333;
   
    --transition: all 400ms ease;

}

html{
    scroll-behavior: smooth;
}

::webkit-scrollbar{
    display: none;
}

body{
    
    background-color: #fff;
    line-height: 1.7;

}

section{
    margin-top: 8rem;
}



a{
    color: var(--color-primary);
    transition: var(--transition)
}

a:hover{
    color: var(--color-primary);
}
